<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.board.dao.BoardMapper">
	<!-- 1. 회원가입 -->
	<insert id="signupMethod" parameterType="ca.board.dao.userVO">
		insert into	tbl_user(user_id,user_pw,user_name,user_birth,user_tel,user_addr,user_type,user_joindate)
		values(#{user_id},#{user_pw},#{user_name},#{user_birth},#{user_tel},#{user_addr},#{user_type},sysdate) </insert>
	<!-- 2. 로그인 -->
	<select id="loginMethod" resultType="ca.board.dao.userVO" parameterType="ca.board.dao.userVO">
		select * from tbl_user where user_id=#{user_id} and user_pw=#{user_pw} </select>
	<!-- 3. 커뮤니티 게시판 전체 리스트 -->
	<select id="cList" resultType="ca.board.dao.cboardVO">
		select * from tbl_community order by c_seq desc	</select>
	<!-- 4. 커뮤니티 게시판 글쓰기 -->
	<insert id="insertc" parameterType="ca.board.dao.cboardVO">
		insert into	tbl_community(c_seq,c_title,c_content,c_date,c_file,user_id)
		values(tbl_community_SEQ.NEXTVAL,#{c_title},#{c_content},sysdate,#{c_file},#{user_id}) </insert>
	<!-- 5. 커뮤니티 게시판 상세 페이지 -->
	<select id="cdetail" parameterType="int" resultType="ca.board.dao.cboardVO">
		select * from tbl_community where c_seq=#{c_seq} </select>
	<!-- 6. 커뮤니티 게시판 조회수 증가 -->
	<update id="countc">
		update tbl_community set c_cnt=c_cnt+1 where c_seq = #{c_seq} </update>
	<!-- 7. 커뮤니티 게시판 삭제 -->
	<delete id="cboardDelete"> delete from tbl_community where c_seq=#{c_seq} </delete>
	<!-- 8. 커뮤니티 게시판 수정 -->
	<update id="cupdate" parameterType="ca.board.dao.cboardVO">
		update tbl_community set c_title=#{c_title},c_content=#{c_content} where c_seq=#{c_seq}	</update>
	<!-- 9. 찾아주세요 게시판 전체 리스트 -->
	<select id="fList" resultType="ca.board.dao.fboardVO"> select * from tbl_find order by f_seq desc </select>
	<!-- 10. 찾아주세요 게시판 글쓰기 -->
	<insert id="insertf" parameterType="ca.board.dao.fboardVO">
		insert into tbl_find(f_seq,f_title,f_content,f_date,f_file,user_id)
		values(tbl_find_SEQ.NEXTVAL,#{f_title},#{f_content},sysdate,#{f_file},#{user_id}) </insert>
	<!-- 11. 찾아주세요 게시판 상세 페이지 -->
	<select id="fdetail" parameterType="int" resultType="ca.board.dao.fboardVO">
		select * from tbl_find where f_seq = #{f_seq} </select>
	<!-- 12. 찾아주세요 게시판 조회수 증가 -->
	<update id="countf">
		update tbl_find set f_cnt=f_cnt+1 where f_seq=#{f_seq} </update>
	<!-- 13. 찾아주세요 게시판 삭제 -->
	<delete id="fboardDelete">
		delete from tbl_find where f_seq=#{f_seq}	</delete>
	<!-- 14. 찾아주세요 게시판 수정 -->
	<update id="fUpdate" parameterType="ca.board.dao.fboardVO">
		update tbl_find set f_seq=#{f_seq},f_title=#{f_title},f_content=#{f_content} where f_seq=#{f_seq} </update>
</mapper>